body {
    background: url(../img/background.png);
    background-attachment: fixed;
    background-size: cover;
}

.nav {
    padding: 24px 0 0 0 !important;
    align-items: center;
}

.brand, .brand a {
    color: white;
    font-size: 1.8rem;
}

.btn, .flat-btn {
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
}

.btn {
    background: white;
    color: black;
    border-radius: 50px;    
}

.flat-btn {
    background: black;
    color: white;
    border-radius: unset;
    margin: 0 !important;
}

.btn:hover, .flat-btn:hover {
    background: #e03b00;
    color: white;
}

.logo ul {
    list-style-type: none;
    display: flex;
    padding: unset;
    margin: auto;
    justify-content: center;
}

.logo ul li img {
    width: 54px;
    height: 54px;
    padding: 4px;
}

.landing-content {
    background: #F3F3EE;
    padding: 3rem 0;
}

.header a {
    color: rgba(0,0,0,.85);
}

.nav-menu {
    font-size: 1.2rem !important;
    margin-top: unset !important;
}

.nav-menu .item {
    display: inline-block !important;
    color: rgba(255, 255, 255, .7) !important;
    font-size: 1.15rem !important;
}

.nav-menu .item.active {
    color: white !important;
    border-color: unset !important;
    border-bottom: 6px solid white !important;
}

.nav-menu .menu {
    border-bottom: unset !important;
}

.footer {
    color: white;
    padding: 24px 0 !important;
    margin-top: unset !important;
    font-size: 1.1rem;
}

.post {
    background: #fff !important;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important;
    margin: 1rem 0 !important;
    /* padding: 1em 1em !important; */
    border-radius: .28571429rem !important;
    border: 1px solid rgba(34,36,38,.15) !important;
}

.image-post {
    width: 240px !important;
    height: 180px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: unset !important;
    margin-left: unset !important;
}

.flat-btn.disabled {
    background: gray;
}

ul.pagination {
    list-style-type: none;
    text-align: center;
}

ul.pagination li {
    display: inline-block;
}

.pagination .page-item.prev .page-link, .pagination .page-item.next .page-link {
    padding: 8px 16px;
    border: none;
    transition: .4s;
    -o-transition: .4s;
    text-decoration: none;
    -moz-transition: .4s;
    color: white;
    border-radius: unset;
    margin: 0 24px !important;
}

.pagination .page-item.prev:not(.disabled) .page-link, .pagination .page-item.next:not(.disabled) .page-link {
    cursor: pointer;
    background: black;
}

.pagination .page-item.prev.disabled .page-link, .pagination .page-item.next.disabled .page-link{
    background: grey;
}

.page-item {
    margin: 0 2px;
}

.page-item.active .page-link {
    color: grey;
}

.page-item:not(.active) .page-link {
    color: black;
}